/* REUTILIZABLES */
.color-primario{
    background-color: rgb(2,66,112);
    color: #fff;
}
.color-secundario{
    background-color: rgb(254,255,255);
    color: #000;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezado{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
}
.encabezado h1{
    font-size: 48px;
}
.encabezado h2{
    font-size: 36px;
}
p{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 200;
}

/* NAVBAR */
.navbar-collapse{
    margin-right: 50px;
    align-items: center;
    justify-content: flex-end;
}
nav a img{
    margin-left: 20px;
    width: 120px;
    height: 120px;
}
nav a span{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgb(254,255,255);
    margin-left: 27px;
}
nav button i{
    color: white;
    font-size: 50px;
}
.nav-item{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 100;
}
.nav-link{
    color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.nav-link:hover{
    font-size: 1.1em;
    text-shadow: 1px 1px 2px #fff;
    color: #01aded;
}
/* HERO */
.carousel-indicators .active{
    background-color: rgb(2,66,112);
    height: 5px;
}
.carousel-indicators :not(.active){
    background-color: rgba(2,66,112,0.5);
    height: 5px;
}
.hero .carousel{
    max-width: 1200px;
    width: 90%;
    margin-bottom: 20px;
}
.hero .carousel-item{
    height: 500px;
}
.hero .carousel-item .container{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero .carousel-item .container img{
    width: 100%;
    object-fit: cover;
}
.data{
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    position: absolute;
    background-color: rgba(254, 255, 255, 0.5);
    padding: 20px;
}
.data h3{
    font-size: 24px;
}
.uno{
    margin-left: -40px;
    top: 60%;
    left: 60%;
}
.dos{
    top: 60%;
    left: 0px;
}
.tres{
    margin-left: -40px;
    top: 60%;
    left: 60%;
}
.frase{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
}
.frase p{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 200;
}
/* PRODUCTOS */
.productos .row{
    margin: 20px;
}
.columna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #000;

    margin-bottom: 20px;
}
.columna .cardProductos{
    width: 95%;
    padding: 20px 10px 20px 10px;
    background-color: rgb(254,255,255);
    border-radius: 40px;
    transition: all 0.2s ease;
}
.cardProductos h3{
    font-size: 36px;
    font-weight: bold;
}
.columna .div-img{
    width: 90%;
    height: 200px;
    margin: 20px auto;
    transition: all 0.2s ease;
}
.columna .div-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.cardProductos .CTA{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}
.cardProductos .CTA a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(254,255,255);
    transition: all 0.2s ease-in-out;
}
.cardProductos .info{
    width: 90%;
    margin: 0 auto;
}
.cardProductos p{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.columna .cardProductos:hover{
    width: 100%;
}
.columna .cardProductos:hover .div-img{
    width: 100%;
}
.cardProductos .CTA:hover a{
    font-size: 1.1em;
}
/* CONTACTO */
.mision-vision{
    margin-top: 10px;
    margin-bottom: 80px;
}
.mision-vision .encabezado{
    margin: 10px auto 0 auto;
    padding: 20px;
    width: 80%;
}
.mision-vision .encabezado p{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-top: 20px;
}
.mision-vision .row{
    margin: 0 20px;
}
.mision-vision .div-img{
    height: 400px;
    transition: all 0.2s ease-in-out;
}
.mis-vis .contenedor{
    background-color: #a9a9a9;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    transition: all 0.2s ease-in-out;
}
.mis-vis h3{
    color: rgb(2,66,112);
    font-size: 36px;
    font-weight: bold;
}
.mis-vis .contenedor p{
    color: #fff ;
    font-size: 20px;
    font-weight: 400;
}
.mision-vision .div-img:hover{
    transform: scale(1.02);
}
.mis-vis .contenedor:hover{
    transform: scale(1.02);
}
/* CONTACTO */
.contacto{
    font-family: "Open Sans", sans-serif;
}
.contacto .row{
    background-color: #a9a9a9;
    border-radius: 20px;
    margin-top: -70px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.contacto .elemento{
    margin-bottom: 10px;
}
.contacto h3{
    text-align: center;
    font-size: 36px;
    color: rgb(2,66,112);
}
.contacto .CTA{
    width: 80%;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px #777;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.contacto .CTA a{
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
    color: rgb(254,255,255);
    transition: all 0.2s ease-in-out;
}
.contacto .CTA:hover{
    width: 90%;
}
.contacto .CTA:hover a{
    font-size: 30px;
}
/* TESTIMONIOS */
.testimonios .encabezado{
    margin-top: 50px;
}
.testimonios .carousel{
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
}
.testimonios .carousel-item{
    background-color: #fff;
    color: #000;
    padding: 50px;
    border-radius: 50px;
}
.testimonios .carousel-item .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.testimonios .divLogoEmpresa img{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}
.testimonios .declaraciones{
    width: 90%;
    margin: 20px auto 20px auto;
}
.testimonios .cargo{
    text-align: center;
}
/* FOOTER */
footer .footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3.5rem;
    padding: 60px 60px 10px 60px;
}
.footer-content{
    text-align: center;
}
.footer-content h4{
    font-family: "Merriweather", serif;
    font-size: 24px;
    font-weight: 200;
}
.footer-content .links{
    margin-top: 20px;
}
.footer-content li{
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-left: -30px;
    margin-bottom: 10px;
}
.footer-content .links li a{
    text-decoration: none;
    color: rgb(254,255,255);
    transition: all 0.5s ease-in;
}
.footer-content .links li a:hover{
    font-size: 1.1em;
    text-shadow: 1px 1px 2px #fff;
}
.footer-content p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 20px;
}
.footer-content form{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}
.footer-content input{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    border-radius: 6px;
    background: #fff;
    width: 100%;
    outline: none;
    padding-left: 10px;
}
.footer-content form button{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    background: none;
    outline: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 50%;
    transition: 0.5s ease;
}
.footer-content form button:hover{
    font-size: 1.5em;
    text-shadow: 2px 2px 8px #fff;
}
.footer-content .icon{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    cursor: pointer;
}
.footer-content .icon i{
    color: white;
    font-size: 38px;
    transition: all 0.2s ease-in-out;
}
.footer-content .icon i:hover{
    font-size: 45px;
    text-shadow: 1px 1px 2px #fff;
}
.derechosAutor{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding-bottom: 20px;
}
.derechosAutor span{
    font-weight: 400;
}






/* RESPONSIVE */
/* NAVBAR */
@media screen and (max-width:500px) {
    nav a img{
        width: 80px;
        height: 80px;
    }
    nav a span{
        font-size: 20px;
        margin-left: 10px;
    }
    nav button i{
        color: white;
        font-size: 30px;
    }
}
@media screen and (max-width:1100px){
    .navbar-collapse{
        margin-right: 0;
    }
}
/* FOOTER */
@media screen and (max-width: 1092px) {
    footer .footer-row{
        justify-content: center;
        gap: 4rem;
        padding: 20px;
    }
}
@media screen and (max-width:500px) {
    footer .footer-row{
        justify-content: center;
        gap: 2rem;
        padding: 20px;
    }
    .footer-content h4{
        font-size: 0.9em;
    }
    .footer-content li{
        font-size: 0.9em;
    }
    .footer-content p{
        font-size: 0.9em;
    }
    .footer-content form button{
        font-size: 0.9em;
    }
    .footer-content form button:hover{
        font-size: 1.2em;
    }
    .footer-content .icon i{
        font-size: 27px;
    }
    .footer-content .icon i:hover{
        font-size: 30px;
    }
}
/* HERO */
@media screen and (max-width: 1024px){
    .frase p{
        font-size: 18px;
    }
}
@media screen and (max-width: 768px){
    .encabezado h2{
        font-size: 28px;
    }
    .frase p{
        font-size: 16px;
    }
    .data{
        padding: 10px 10px 10px 20px;
    }
    .data h3{
        font-size: 20px;
    }
}
@media screen and (max-width: 600px){
    .hero .carousel-item{
        height: 200px;
    }
    .data h3{
        font-size: 16px;
    }
    .uno{
        margin-left: -40px;
        top: 50%;
        left: 40%;
    }
    .tres{
        margin-left: -40px;
        top: 50%;
        left: 40%;
    }
}
/* PRODUCTOS */
@media screen and (max-width: 768px){
    .cardProductos h3{
        font-size: 28px;
    }
    .cardProductos p{
        font-size: 0.9em;
    }
}
/* MISISON Y VISION */
@media screen and (max-width: 1024px){
    .mis-vis h3{
        font-size: 30px;
    }
    .mis-vis .contenedor p{
        font-size: 16px;
    }
}
@media screen and (max-width: 768px){
    .mision-vision .encabezado{
        margin: 10px auto;
        padding: 10px 20px;
        width: 100%;
    }
    .mision-vision .encabezado p{
        margin-top: 10px ;
        font-size: 16px;
    }
}
/* CONTACTO */
@media screen and (max-width: 1000px){
    .contacto h3{
        font-size: 25px;
    }
    .contacto .CTA{
        width: fit-content;
    }
    .contacto .CTA a{
        font-size: 25px;
    }
    .contacto .CTA:hover a{
        font-size: 25px;
    }
}
@media screen and (max-width: 767px){
    .contacto h3{
        font-size: 25px;
    }
    .contacto .CTA{
        width: fit-content;
    }
    .contacto .CTA a{
        font-size: 25px;
    }
    .contacto .CTA:hover{
        width: fit-content;
    }
    .contacto .CTA:hover a{
        font-size: 28px;
    }
}
/* TESTIMONIOS */
@media screen and (max-width: 768px){
    .testimonios .carousel-item{
        padding: 30px;
    }
    .testimonios .divLogoEmpresa img{
        height: 150px;
        width: 150px;
        object-fit: fill;
        margin-bottom: 5px;
    }
    .testimonios .declaraciones p{
        font-size: 20px;
        margin: 5px auto;
    }
}
@media screen and (max-width: 600px){
    .testimonios .declaraciones p{
        font-size: 16px;
        margin: 5px auto;
    }
}